<div class="container">
  <div class="cont-input">
    <ion-searchbar (ionInput)="onChange($event)" placeholder="Search"></ion-searchbar>
  </div>
  <div (click)="nextScreen(2)">
    <app-card
      description="Create group"
      [icon]="'group'"
    ></app-card>
  </div>
  <div (click)="nextScreen(3)">
    <app-card
      description="New chat"
      [icon]="'chat'"
    ></app-card>
  </div>

  <div (click)="nextScreen(4)">
    <app-card
      description="Add Friend"
      [icon]="'friend'"
    ></app-card>
  </div>

  <div class="cont-contacts">
    <div *ngFor="let contact of filteredContacts">
      <app-contact
          [name]="contact.name"
          [id]="contact.id"
          [image]="contact.image"
          >
      </app-contact>
  </div>
  </div>
</div>