<ion-header [translucent]="true">
  <ion-toolbar>
    <div>
      <ion-title>
        Chats
      </ion-title>
      <button class="btn-del">
        <ion-icon (click)="openModal()" name="add-outline"></ion-icon>
      </button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-chat name="Mi grupo"></app-chat>
  <app-chat name="Mi grupo"></app-chat>
  <app-chat name="Mi grupo"></app-chat>
  <app-chat name="Mi grupo"></app-chat>
  <app-chat name="Mi grupo"></app-chat>
  <app-chat name="Mi grupo"></app-chat>
  <app-chat name="Mi grupo"></app-chat>
  <app-chat name="Mi grupo"></app-chat>
  <app-chat name="Mi grupo"></app-chat>
  <app-chat name="Mi grupo"></app-chat>
  <div style="height: 2em;"></div>
</ion-content>
