<ion-header [translucent]="true">
  <ion-toolbar>
    <div>
      <ion-title>
        Chats
      </ion-title>
      <button class="btn-del">
        <ion-icon (click)="openModal()" name="add-outline"></ion-icon>
      </button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="this.chatsArray.length >= 0">
    <div *ngFor="let chat of chatsArray">
      <app-chat 
        [name]="chat[1].name"
        [id]="chat[1].id"
        [messages]="chat[1].messages[0]"
        [users]="chat[1].users"
      ></app-chat>
    </div>
  </div>
  <div style="height: 2em;"></div>
</ion-content>
