<div class="container">
    <div class="header">
        <!-- <button class="btn-header">Cancel</button> -->
        <h1>Accept requests</h1>
        <button (click)="onClick()" class="btn-header">Aceptar</button>
    </div>
    <div class="cont-input">
        <ion-searchbar (ionInput)="onChange($event)" placeholder="Search"></ion-searchbar>
    </div>
    <div class="cont-contacts">
        <div *ngFor="let contact of filteredContacts">
            <app-contact
                [name]="contact.name"
                [id]="contact.id"
                [image]="contact.image"
                [isCheckbox]="true"
                [selectedIds]="selectedContacts"
                (contactSelected)="onContactSelected($event)">
            </app-contact>
        </div>
    </div>
</div>

<app-message-bar [alertCode]="alertCode" [alertMessage]="alertMessage" [showAlert]="showAlert"></app-message-bar>