<div class="container">
    <div (click)="onClick()" class="subcontainer">
        <div class="cont-image">
            <img src="https://unavatar.io/geddeu" alt="ImagenContacto">
        </div>
        <div class="cont-name">
            <h5>{{name}}</h5>
        </div>
        <div class="cont-icon">
            <ng-container *ngIf="isCheckbox; else iconTemplate">
                <ion-checkbox [checked]="selected"></ion-checkbox>
            </ng-container>
            <ng-template #iconTemplate>
                <ion-icon name="create-outline"></ion-icon>
            </ng-template>
        </div>
    </div>
</div>
