<ion-tabs>

  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="states" href="/tabs/states">
      <ion-icon aria-hidden="true" name="aperture-outline"></ion-icon>
      <ion-label>States</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="chatbubbles-outline"></ion-icon>
      <ion-label>Chats</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="request" href="/tabs/request">
      <ion-icon aria-hidden="true" name="person-add-outline"></ion-icon>
      <ion-label>Requests</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon aria-hidden="true" name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
    
</ion-tabs>
