<ion-header [translucent]="true">
  <ion-toolbar>
    <div>
      <ion-title>
        States
      </ion-title>
      <button class="btn-del">
        <ion-icon (click)="redirectToCreateState()" name="add-outline"></ion-icon>
      </button>
    </div>
  </ion-toolbar>
</ion-header>

<div class="container">
  <div *ngFor="let state of states">
    <app-state 
      [imageUser]="state.image"
      [nameUser]="state.name"
      [userId]="state.id"
      [items]="state.items"
    ></app-state>
  </div>
</div>


<ion-content>
    <ion-modal [initialBreakpoint]="0.57" [breakpoints]="[0, 5]">
      <ng-template>
        <ng-container *ngIf="items$ | async as items; else noItems">
          <app-carousel [items]="items"></app-carousel>
        </ng-container>
        <ng-template #noItems>
          <p>No items available</p>
        </ng-template> 
      </ng-template>
    </ion-modal>
</ion-content>

<app-message-bar [alertCode]="alertCode" [alertMessage]="alertMessage" [showAlert]="showAlert"></app-message-bar>