<ion-header [translucent]="true">
  <ion-toolbar>
    <div>
      <ion-title>
        States
      </ion-title>
      <button class="btn-del">
        <ion-icon (click)="redirectToCreateState()" name="add-outline"></ion-icon>
      </button>
    </div>
  </ion-toolbar>
</ion-header>

<div class="container">
  <app-state 
    imageUser="https://unavatar.io/geddeu"
    nameUser="Camila Cabello"
    [items]="items"
  ></app-state>
  <app-state 
    imageUser="https://unavatar.io/erikatourt"
    nameUser="Erika Tourt"
    [items]="items2"
  ></app-state>
  

  <!-- <div *ngFor="let state of states">
      <app-state 
        [imageUser]="state.multimedia[0].url"
        [nameUser]="state.user.username"
        [items]="items"
      ></app-state>
  </div> -->
</div>


<ion-content>
    <ion-modal [initialBreakpoint]="0.57" [breakpoints]="[0, 5]">
      <ng-template>
        <ng-container *ngIf="items$ | async as items; else noItems">
          <app-carousel [items]="items"></app-carousel>
        </ng-container>
        <ng-template #noItems>
          <p>No items available</p>
        </ng-template> 
      </ng-template>
    </ion-modal>
</ion-content>