<div class="container" [style]="isCurrentUser() ? 'justify-content: flex-end;': 'justify-content: flex-start;'">
    <div [ngClass]="{'message-item': true, 'message-item-sender': isCurrentUser(), 'message-item-receiver': !isCurrentUser()}">
        <div class="message-header">
            <span>{{ isCurrentUser() ? 'Tú' : userEmitter.name }}</span>
        </div>
        <div class="message-body">
            <div *ngIf="multimedia && multimedia.type === 'image'" class="message-image">
                <img [src]="multimedia.url" alt="Image">
            </div>
            <div *ngIf="multimedia && multimedia.type === 'audio'">
                <div class="player-controls">
                    <button (click)="togglePlayPause()">
                        <ion-icon *ngIf="isPlaying; else playIcon" name="pause-circle-outline"></ion-icon>
                        <ng-template #playIcon>
                          <ion-icon name="play-circle-outline"></ion-icon>
                        </ng-template>
                      </button>
                      <div class="progress-container">
                        <ion-range
                          min="0"
                          [max]="duration || 0"
                          [value]="currentProgress"
                          (ionChange)="onRangeChange($event)"
                          (ionInput)="onRangeInput($event)">
                        </ion-range>
                        <div class="container-duration">
                            <span>{{ convertirSegundosAFormatoMinutos(currentProgress) }}</span>
                            <span>{{ convertirSegundosAFormatoMinutos(duration) }}</span>
                          </div>
                        </div>
                </div>
            </div>
            <div class="message-text">{{ description }}</div>
        <div class="message-footer">
            <span>{{ formatTimestamp(timestamp) }}</span>
        </div>
    </div>
</div>
