@import '../../../theme/variables.scss';


.send-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: peachpuff;
}

.selected-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    position: relative;

    img {
        max-height: 100px;
        max-width: 100%;
        margin-right: 10px;
        display: block;
        margin: auto;
    }

    ion-icon {
        font-size: 35px;
        cursor: pointer;
        color: $color-primary;
        position: absolute;
        top: 5px;
        right: 5px;
    }
}

.input-container {
    display: flex;
    align-items: center;
    gap: 0.5em;

    input[type="text"] {
        flex: 1;
        margin-right: 10px;
        padding: 8px;
        border-radius: 5px;
        border: 1px solid $color-primary;
    }

    ion-icon {
        font-size: 24px;
        color: $color-primary;
        cursor: pointer;
        margin-right: 10px;
    }

    ion-button {
        margin-left: 10px;
    }
}
